body{
    /* The image used */
  background-image: url("xp.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; /* Hide scrollbars */
}


.start{
    width: fit-content;
    background-repeat: no-repeat;
   
    height: inherit;
    float: left;
}

.windowPanel{
    float: left;
}

.rightPanel{
    width : 130px;
    background-color: rgb(95, 196, 243);
    float :right;
    height: inherit;
    border: 0.5px solid white;
}

.icons{
    height: inherit;
    float: left;
}

.time{
    color: white;
    float: right;
    font-family: 'Times New Roman', Times, serif;
}

.desktop{
    height: 1000px;
    width: 100%;
}

.taskbar {
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color : rgb(10, 115, 252);
    border: 0.5px solid white;
    box-shadow: 0px 0px 0px 1px white;
}

.dropdown{
    background-color: white;
    box-shadow: 1px;
    width: 180px;
    height: 210px;
    box-shadow: 2px 2px gray;
}